#
# Create zope testrunner with Plone, ldapalchemy and its dependencies
# is provided via virtualenv
#
[buildout]
extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg
parts = test


[versions]
setuptools =


[test]
recipe = zc.recipe.testrunner
eggs =
    Plone
    Products.PloneTestCase
    ldapalchemy
    ipdb
defaults = ['--auto-color', '--auto-progress']


